/* login */
.loginForm {
  background-color: #FAFAFA;
  width: 600px;
  height: 300px;
  margin: 15vh auto 0;  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* border: 1px solid gainsboro; */
}
.usernameLogin {
  font-size: 14px;
  text-align:center;
  border: 1px solid gainsboro;
  margin:0 auto;
  width: 300px;
  height: 35px;
  border-radius: 5%;
}
.pwdLogin {
  font-size: 14px;
  text-align:center;
  border: 1px solid gainsboro;
  margin:0 auto;
  width: 300px;
  height: 35px;
  border-radius: 5%;
}
.Login {
  font-size: 18px;
  border: 1px solid blue;
  background-color: #FAFAFA;
  margin:0 auto;
  width: 100px;
  height: 35px;
  border-radius: 5%;
}
.Login:hover{
  cursor: pointer;
}